@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

body {
	background-color: grey;
	margin:0;
}

.num0 {
	display: flex;
	flex-wrap: wrap;
	width: 1536px;
}

.one, .two,.three,.four,.five, .six {
	background-color: #99C2B6;
	width: 256px;
	height: 80px;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: center;
	align-content: center;
	
}

.l-a {
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 40px;
}

.l-b {
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 40px;
}

.l-c
 {
 	font-family: 'Josefin Sans', sans-serif;
	margin-top: 40px;
 }

.four  {
	width: 255px;
	border-left: 1px solid #000;
	background-color: #2E2F24;
}

.five {
	background-color: #2E2F24;
}

.six {
	width: 255px;
	border-left: 1px solid #000;
	background-color: #FFFC91;
}

.num1 {
	width: 1536px;
	display: flex;
	flex-wrap: wrap;
}

.seven {
	background-color: #72AB9B;
	width: 768px;
	height: 620px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	width: 300px;
	height: 500px;
}

.eight {
	background-color: #FFFFDC;
	width: 511px;
	height: 620px;
	border-left: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	transform: rotate(90deg);
	width: 500px;
}

.nine {
	background-color: #FFFFDC;
	width: 255px;
	height: 620px;
	border-left: 1px solid #000;
}

.unique {
	width: 1536px;
	height: 5px;
	background-color: #2E2F24;
}

.not {
	transform: rotate(360deg);
	width: 400px;
}

.german {
	font-size: 100px;
}

